
body{
    background-color: black;
}
.mq1{
    background-color: rgb(245, 244, 244);
    width: 1349px;
    length:200px;
    color: rgb(12, 11, 11);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.navbar{
    z-index: 1;
    margin-top: -6px;
}
.v1{
        border-left: 1px solid white;
        height: 700px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 0;
        opacity: 99%;
}
.hero{
    background-image: url('img1.jpg');
    background-size:cover;
    background-position:center;
    height: 650px;
    padding-top: 20px;
}
.d-flex{
    padding-left: 500px;
}
.head1{
        font-size: 40px;
        color: rgb(243, 240, 245);
        font-family: 'Quintessential', cursive;
        line-height: 30px;
        position: fixed;
}
.head2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:medium;
    color:rgb(237, 232, 241);
    padding-left: 120px;  
    font-size:large;
    position: fixed;
   margin-top :30px;
}
.head1 img{
    height: 49px;
    margin-left: 25px;
}
 .cover{
     height: 100vh;
     width: 100%;
     position:absolute;
     top: 0px;
     left: 0px;
     background-color: rgba(0, 0, 0, 0.371);
 }
 .head4{
     font-size:78px;
     font-family: 'Quintessential', cursive;
    color: white;
    opacity: 99%;
    margin-left: 91px;
    margin-top: 100px;

 }
 .head5{
     font-size: 28px;
     font-family: 'Quintessential', cursive ;
     opacity: 99%;
     margin-left: 750px;
     color: white;

 }
 hr { 
    width: 80%;  
    height: 2px;  
    background-color: white;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;  
    border-width: 4px;  
    border-color: white;
    opacity: 90%;  
}
 .column{
    float: left;
    width: 33.33%;
    padding: 2vh;
}
.row1{
    content:"";
    clear: both;
    display: table;
    position: relative;
    margin-top: -10px;
}
.img1{
    margin-right: 5vh;
    height: 400px;
    width: 400px;
    border:8px solid white;
    border-radius: 100%;
}
.btn-outline-light{
    margin-left: 150px;
    margin-top: 40px;
    border:2px solid white;
    border-radius: 20px;
}
hr { 
    width: 80%;  
    height: 2px;  
    background-color: white;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;  
    border-width: 4px;  
    border-color: white;
    opacity: 90%;  
}
.p1{
    margin-left: 40px;
    margin-top: 30px;
    color: white;
    font-family: 'Quintessential', cursive ;
    font-size: 56px;
}
.p2{
    color: white;
    font-family: 'Quintessential', cursive ;
    font-size: 56px;
    margin-left: 100px;
    margin-top: -30px;
}
.img2{
    width:720px;
    length:300px;
    margin-left: 480px;
    margin-top: -90px;
    border: 2px solid white;
    border-radius: 30px;
    
}
.p3{
    color: white;
    font-family: 'Quintessential', cursive ;
    margin-top: -400px;
    margin-left: 80px;
    
}
.box {
    background: rgb(105, 101, 101);
    height: 300px;
    width: 500px;
    margin-left: 100px;
    margin-top: 60px;
    color: rgb(25, 48, 25);
    font-family: 'Josefin Sans', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Quintessential', cursive;
font-family: 'Roboto Slab', serif;
font-size: 30px;
text-align: center;
border: 1px solid black;
border-radius: 30px;
  }
  .box1 {
    background: rgb(138, 134, 134);
    height: 300px;
    width: 500px;
    margin-left: 750px;
    margin-top: -292px;
   color: rgb(4, 41, 4);
    font-family: 'Josefin Sans', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Quintessential', cursive;
font-family: 'Roboto Slab', serif;
font-size: 30px;
text-align: center;
border: 1px solid black;
border-radius: 30px;
  }
.mq2{
    font-size: 20px;
}
.line1{
    color: black;
    margin-top: 2px;
}
.text1{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Quintessential', cursive;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 60px;
    margin-left: 450px;
    margin-top: 75px;

}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.footer {
    background: linear-gradient(rgba(241, 239, 239, 0.7),rgba(245, 242, 242, 0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
    background-size: cover;
    border: 2px solid white;
    
}






